<launch>

    <node name="realsense_image" pkg="realsense_ros_wrapper" type="rs-imshow" clear_params="true" output="screen">

	 	<remap from="/RGB_image" to="/RGB_image"  />
		<remap from="/Depth_image" to="/Depth_image"  />

    </node>


    <node name = "runslam" pkg="ORB_SLAM2" type="RGBD" args ="/media/tx2/Drive/wuzida/ORB_SLAM2/Vocabulary/ORBvoc.txt /media/tx2/Drive/wuzida/catkin_ws/src/realsense_ros_wrapper/RealsenseD435.yaml" output="screen">

		<remap from="/camera/rgb/image_raw" to="/RGB_image"  />
		<remap from="/camera/depth/image_raw" to="/Depth_image"  />

   </node>
 <!--   <node pkg="mobile_maskRCNN" name="maskrcnn_node" type="demo_maskrcnn_2.py" output="screen"> 
		<remap from="/maskrcnn_image" to="/maskrcnn_image"  />
    </node>
-->
</launch>
